.col {
    padding: .4em 1.3em;
}
.col2 {
    padding: .4em 1.3em;
}
.formular {
    width: 50%;
    height: 25px;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    padding:1em 3em;
    background:#00bcd4;
    color: black;
    font-weight: bold;
    margin-bottom:1em;
    cursor: pointer;
}

